
  
header a:hover {
    border: 1px solid #fff;
    background:  #8723FF;
    color: white;
} 

section.app-information {
    background: #8529f3;
    color:white;
    
}
section h1 {
    color:white;
    
}
.app-information a {
    border: 1px solid #8723FF;
    border-radius: 25px;
    background-color: #fff;
    color: #8723FF;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase; 
}
.app-information a:hover {
    border: 1px solid #fff;
    background:  #8723FF;
    color: white;
}    